<mat-horizontal-stepper labelPosition="bottom" #stepper>
  <mat-step>
    <ng-template matStepLabel>Products</ng-template>
    <!-- Se crea una variable una vez se sucriba para utilizar dentro del template -->
    <div *ngIf="(products$ | async) as products">
      <h1 *ngIf="products.length === 0"> There is not selected products</h1>
      <div class="row" *ngFor="let product of products">
        <div class="col-xs-12 col-sm-2 col-md-2">
          <div class="box">
            <img [src]="product.image" [alt]="product.title" class="image">
          </div>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5">
          <div class="box">{{product.title}}</div>
        </div>
        <div class="col-xs-12 col-sm-5 col md-5">
          <div class="box">{{product.price}}</div>
        </div>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Personal information</ng-template>
    <h1>Content</h1>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Payment information</ng-template>
    <h1>Content</h1>
  </mat-step>
</mat-horizontal-stepper>
